:root {
    --primary-color: #044D8C;
    --secondary-color: #022340;

    --bright: #FFFFFF;
    --dark: #000000;
    --gray: #A3B2BF;
    --gray-two: #E5E7EB;
    --primary-green: #3DC910;
    --primary-red: #C9221A;
}