/**
 * Globals.
 */
@import "global/breakpoints.css";
@import "global/colors.css";

/**
 * Controls.
 */
@import "controls/info.css";

.dmp__domain-table {
    text-align: left;
    width: 100%;

    & tbody {

        & td {
            padding: .5rem;

            & .dmp__domain-field-domain {
                font-weight: bold;
            }
        }
    }

    & thead {
        & th {
            background-color: var(--gray-two);
            border-top: 1px solid var(--gray);
            color: var(--dark);
            font-weight: normal;
            padding: .5rem;
        }
    }

    & tr {
        border-top: 1px solid var(--gray);
    }
}