.notice {
    position:relative;
}

.wp-list-table {

    & .domain-options {

        & button {
            -webkit-appearance: button;
            background: transparent;
            border: none;
            color: #0073AA;
            cursor: pointer;
            font-family: inherit;
            font-size: 100%;
            line-height: 1.15;
            margin: 0;
            padding: 0;
            text-transform: none;

            &:hover, &:focus {
                color: #00A0D2;
            }
        }

        & span {
            color: #DDDDDD;
            padding: 0 4px;
        }

        & .submitdelete {
            color: #AA0000;

            &:hover {
                color: #dc3232;
            }
        }
    }
}

.has-right-sidebar {
    float: left;
    margin-right: 2%;
    width: 70%;


    @media (max-width: 1199px) {
        width: 65%;
    }

    @media (max-width: 991px) {
        width: 95%;
    }
}

.has-right-sidebar table {
    margin-top: 2em;
}

.info-panel {
    float: left;
    width: 20%;
    margin-top: 2em;
}

.info-panel .postbox {
    padding-left: 1em;
    padding-right: 1em;
}
