.notice {
    position:relative;
}

.wp-list-table {

    @nest .domain-options & {

        & span {
            color: #DDDDDD;
            padding: 0 4px;
        }

        & .submitdelete {

            &:hover {
                color: #dc3232;
            }
        }
    }
}
