.dmp__control-toggle {
    --toggle-size: 1rem;

    align-items: center;
    border-top: 1px solid var(--gray-two);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: .5rem;
    padding-top: .5rem;

    & .control {
        display: inline-flex;

        & label {
            background: var(--gray);
            border: calc(var(--toggle-size) * .2) solid var(--gray);
            border-radius: var(--toggle-size);
            cursor: pointer;
            display: block;
            height: var(--toggle-size);
            position: relative;
            text-indent: -9999px;
            transition: 0.3s;
            width: calc(var(--toggle-size) * 2);

            &:active {

                &:after {
                    width: calc(var(--toggle-size) * 1.3);
                }
            }

            /**
             * Inner circle/toggle icon.
             */
            &:after {
                background: var(--bright);
                border-radius: var(--toggle-size);
                content: '';
                height: var(--toggle-size);
                left: 0;
                position: absolute;
                transition: 0.3s;
                width: var(--toggle-size);
            }
        }

        & input[type=checkbox] {
            height: 0;
            width: 0;
            visibility: hidden;

            &:checked + label {
                background: var(--primary-color);
                border-color: var(--primary-color);

                &:after {
                    left: 100%;
                    transform: translateX(-100%);
                }
            }
        }
    }

    & .label {
        display: flex;
    }
}