.dark-matter-blog {}

  .dark-matter-blog table {
    border-spacing:0;
    border-collapse:collapse;
    width:100%;
  }

    .dark-matter-blog table > tbody > tr > td {
      background-color:#FFFFFF;
      border-bottom:1px solid #DDDDDD;
      line-height:1.42857143;
      padding:8px;
      text-align:left;
      vertical-align:middle;
    }

    .dark-matter-blog table > tbody > tr > th {
      background-color:#FFFFFF;
      border-bottom:1px solid #DDDDDD;
      line-height:1.42857143;
      padding:8px;
      text-align:left;
      vertical-align:middle;
    }

    .dark-matter-blog table > thead > tr > th {
      background-color:#0073AA;
      color:#FFFFFF;
      line-height:1.42857143;
      padding:8px;
      text-align:left;
      vertical-align:bottom;
    }
